@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap&');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap&');

* {
    padding:0px;
    margin:0px;
}

body{
    background:lightgray;
}

.container {
    margin: 20px;
    display: flex;
    justify-content: center;    /* Centra horizontalmente */
    align-content: center; 
    flex-flow: row wrap;
    flex-direction:column;    /* Permite que bajen de línea en pantallas pequeñas */
    gap: 20px;               /* Espacio entre botones */
    padding: 20px;
}

.header {
    height:140px;
    background: lightgreen;
    border: 1px solid black;
    margin: 10px;
}

.logo{
    height:100px;
    margin:20px;
    padding:0;
    border: 1px solid black;
    background: white;
    display: flex;
}

.logo img{
    margin:10px;
    width: 80px;
    height: 80px;
    margin: 7px 10px 20px 40px;
}

#title-santiagoencodigo {
    font-size:50px;
    font-family:'Courier New', Courier, monospace;
    background: lightgray;
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
    height: 50px;
}

#title-santiagoencodigo:hover{
    background-color:black;
    color:white;
    border: 1px solid white;
}

.menu {
    padding: 0px;
    clear:both;
    margin: 10px;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}

.menu li {
    list-style:none;
    text-decoration:none;
    margin:4px;
}

.menu ul li {
    line-height:30px;
    float:left;
}

.menu a {
    display:block;
    margin:5px;
    width: 120px;
    height: 30px;
    background:white;
    color: black;
    border: 1px solid black;
    text-decoration:none;
    text-align:center;
}

.menu a:hover{
    width:140px;
    background:black;
    color:white;
}

.content {
    background:lightgreen;
    margin:20px;
    padding: 20px;
    border: 1px solid black;
}


.box{
    background:white;
    border:1px solid black;
    margin:20px;
    padding:20px;
}

.roboto {
    color: crimson;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;           
}

#spansantiagoencodigo:hover {
    color: rgb(59, 209, 209);
    padding:0px;
}

.a3{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin: 20px;
    padding: 20px;
    gap: 50px;
}

.granverde {color:rgb(31, 189, 78);font-size: 30px;}

.juegosConPrompts {
    color: rgb(14, 113, 3);
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    background: rgb(157, 157, 157);
    border-radius: 20px;          
}

input {
    display: none
}

input:checked + label {
    background-color: #131311;
    color: rgb(19, 130, 9);
}

#boton-seleccion-juegoJS {
    background-color:white;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size: 15px;
}

#boton-seleccion-juegoJS:hover {
    background-color: rgb(157, 157, 157);
    color: white;
}

#boton-seleccion-juegoJS:active {
    font-size: 20px;
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

button, label {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd
}


.mi-pruebamorada {color: blueviolet;font-size: 30px;}
.verde {color:green}
.darkblue {color:blue}
.morado {color:blueviolet}
.crimson {color: crimson}
.grancrimson {color: crimson;font-size: 30px;}


.juegosConPrompts {
    color: rgb(14, 113, 3);
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    background: rgb(157, 157, 157);
    border-radius: 20px;          
}

input {
    display: none
}

input:checked + label {
    background-color: #131311;
    color: rgb(19, 130, 9);
}

#boton-seleccion-juegoJS {
    background-color:white;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size: 15px;
}

#boton-seleccion-juegoJS:hover {
    background-color: rgb(157, 157, 157);
    color: white;
}

#boton-seleccion-juegoJS:active {
    font-size: 20px;
    transform: scale(1.1);
    transition: transform 0.2s ease;
}
