@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap&');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap&');

/* body {
    background-color: rgb(215, 215, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container{

} */

.header {
    height:170px;
    background: lightgreen;
    border: 1px solid black;
    align-items: center;
}

.logo{
    height:100px;
    margin:20px;
    padding:0;
    border: 1px solid black;
    background: white;
    display: flex;
}

.logo img{
    margin:10px;
    width: 80px;
    height: 80px;
    margin: 7px 10px 20px 40px;
}

#title-santiagoencodigo{
    font-size:50px;
    font-family:'Courier New', Courier, monospace;
    background: lightgray;
    border: 1px solid black;
    margin: 20px 20px 20px 40px;
    padding: 5px;
    align-items: center;

}



#spansantiagoencodigo:hover {
    color: rgb(59, 209, 209);
    padding:0px;
}

.mi-pruebamorada {color: blueviolet;font-size: 30px;}
.verde {color:green}
.darkblue {color:blue}
.morado {color:blueviolet}
.crimson {color: crimson}
.grancrimson {color: crimson;font-size: 30px;}
.granverde {color:rgb(31, 189, 78);font-size: 30px;}

.granNaranja {
    color:rgb(241, 108, 59);
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.medioNaranja {
    color: rgb(241, 108, 59);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.pequeñoNaranja {
    color: rgb(241, 108, 59);
    font-size: 15px;
    font-family: 'Poppins' sans-serif;
}

.roboto {
    color: crimson;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;           
}

.juegosConPrompts {
    color: rgb(14, 113, 3);
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    background: rgb(157, 157, 157);
    border-radius: 20px;          
}

input {
    display: none
}

input:checked + label {
    background-color: #131311;
    color: rgb(19, 130, 9);
}

#boton-seleccion-juegoJS {
    background-color:white;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size: 15px;
}

#boton-seleccion-juegoJS:hover {
    background-color: rgb(157, 157, 157);
    color: white;
}

#boton-seleccion-juegoJS:active {
    font-size: 20px;
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

/*Esto es el codigo CSS de trasure */
.container {
    margin-top: 50px;
}

.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd
}

body {
    font-family: "Montserrat", serif;
    background-color: rgb(215, 215, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mi-pruebamorada {color: blueviolet;font-size: 30px;}
.verde {color:green}
.darkblue {color:blue}
.morado {color:blueviolet}
.crimson {color: crimson}
.grancrimson {color: crimson;font-size: 30px;}
.granverde {color:rgb(31, 189, 78);font-size: 30px;}

.granNaranja {
    color:rgb(241, 108, 59);
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.medioNaranja {
    color: rgb(241, 108, 59);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.pequeñoNaranja {
    color: rgb(241, 108, 59);
    font-size: 15px;
    font-family: 'Poppins' sans-serif;
}

.roboto {
    color: crimson;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;           
}

.juegosConPrompts {
    color: rgb(14, 113, 3);
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    background: rgb(157, 157, 157);
    border-radius: 20px;          
}

input {
    display: none
}

input:checked + label {
    background-color: #131311;
    color: rgb(19, 130, 9);
}

#boton-seleccion-juegoJS {
    background-color:white;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size: 15px;
}

#boton-seleccion-juegoJS:hover {
    background-color: rgb(157, 157, 157);
    color: white;
}

#boton-seleccion-juegoJS:active {
    font-size: 20px;
    transform: scale(1.1);
    transition: transform 0.2s ease;
}
