@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap&');

body {
    font-family: "Montserrat", serif;
    background-color: rgb(215, 215, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mi-pruebamorada {color: blueviolet;font-size: 30px;}
.verde {color:green}
.darkblue {color:blue}
.morado {color:blueviolet}
.crimson {color: crimson}
.grancrimson {color: crimson;font-size: 30px;}
.granverde {color:rgb(31, 189, 78);font-size: 30px;}

.granNaranja {
    color:rgb(241, 108, 59);
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.medioNaranja {
    color: rgb(241, 108, 59);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.pequeñoNaranja {
    color: rgb(241, 108, 59);
    font-size: 15px;
    font-family: 'Poppins' sans-serif;
}

.roboto {
    color: crimson;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;           
}

.juegosConPrompts {
    color: rgb(14, 113, 3);
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    background: rgb(157, 157, 157);
    border-radius: 20px;          
}

input {
    display: none
}

input:checked + label {
    background-color: #131311;
    color: rgb(19, 130, 9);
}